
MemoryMonitor-UnityPlugin/Temp/UnityLockfile
/MemoryMonitor-UnityPlugin/Library
MemoryMonitor-UnityPlugin/Temp/workerlic
/MemoryMonitor-UnityPlugin/Temp
/MemoryMonitor-UnityPlugin/UserSettings
/MemoryMonitor-UnityPlugin/Logs
/MemoryMonitor-UnityPlugin/.idea
MemoryMonitor-UnityPlugin/Assembly-CSharp-firstpass.csproj
MemoryMonitor-UnityPlugin/Assembly-CSharp.csproj
/MemoryMonitor-UnityPlugin/.idea
/MemoryMonitor-UnityPlugin/.idea
